@import "null";
$Family: 'Open Sans', sans-serif;
$Button: 'Roboto', sans-serif;

$color_white: #FFFFFF;
$color_black: #000000;
$color_blue_green: #00897B;
$color_light_blue: #E4FDF9;
$color_light_grey: #F0F1F1;
$color_violet: #3949AB;
$color_dark1: #222321;
$color_border: #BFBFBF;
$bg: transparent;

@mixin button ($br, $bg, $pv, $ph) {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: $br;
  background-color: $bg;
  color: $color_white;
  padding: $pv $ph;
  font-weight: bold;
  font-family: $Family;
}

.wrapper {
  width: 100%;
  min-height: 100%;
  overflow: hidden;
.header {
  width: 100%;
  min-height: 120px;
  background-color: $color_white;
.header__container {
  width: 80%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  .header__logo {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    flex-direction: row;
    span {
      font: normal 16px/22px $Family;
      color: $color_black;
      letter-spacing: 0.1em;
      }
  }
  .header__menu {
    .menu_list {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      text-align: center;
      font: normal 600 20px/110% $Family;
      line-height: 22px;
      color: $color_black;
      letter-spacing: 0.1em;
      li {
        margin-left: 40px;
      }
      a{
        color: $color_black;
      }
    }
  }
}
}

  .slide__block {
    width: 100%;
    min-height: 747px;
    background: url("../img/content-top-fon 1.png") center center no-repeat;

    .slide__block__container {
      margin: 0 auto;
      width: 86%;
      display: flex;
      flex-direction: column;
      align-items: center;
      .slide__block_main-title {
        padding-top: 217px;
        font: normal 600 70px/31% $Family;
        line-height: 22px;
        letter-spacing: 0.1em;
        color: $color_white;
      }
      .slide__block_text {
        font: normal 30px/73% $Family;
        line-height: 22px;
        letter-spacing: 0.1em;
        color: $color_white;
        margin-top: 61px;
      }
      .slide__block__button_block {
        margin-top: 127px;
        .slide__block__services_button {
          width: 220px;
          height: 70px;
          padding: 22px 22px 22px 23px;
          border: 4px solid $color_white;
          background: transparent;
          font: bold 22px/26px $Button;
          letter-spacing: 0.1em;
          color: $color_white;
          margin-right: 38px;
        }
        .slide__block__hire_button {
          width: 220px;
          height: 70px;
          padding: 22px 22px 22px 23px;
          border: 4px solid $color_white;
          background: transparent;
          font: bold 22px/26px $Button;
          letter-spacing: 0.1em;
          color: $color_white;
        }
      }
      .arrow_down {
        margin-top: 127px;
      }
    }
  }

  .about__block {
    width: 100%;
    min-height: 670px;
    background-color: $color_white;
    .about__block__container {
      width: 86%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      margin: 0 auto;
      .about__block_main-title {
        padding-top: 115px;
        font: bold 36px/49px $Family;
        letter-spacing: 0.1em;
        color: $color_black;
      }
      .about__block_main-text {
        margin-top: 30px;
        width: 60%;
        font: normal 18px/133% $Family;
        line-height: 24px;
        letter-spacing: 0.1em;
        color: $color_black;
        text-align: center;
      }
      .about__block_content_block {
        width: 75%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 102px auto 0;
        .icons_block, .page_block, .brain_block {
          width: 20%;
          text-align: center;
        }
        .icons_block_title, .page_block_title, .brain_block_title {
          font: normal 600 20px/110% $Family;
          line-height: 22px;
          letter-spacing: 0.1em;
          color: $color_black;
          padding-top: 30px;

        }
        .icons_block_text, .page_block_text, .brain_block_text {
          font: normal 15px/147% $Family;
          line-height: 22px;
          letter-spacing: 0.1em;
          color: $color_black;
          padding-top: 30px;
        }
        .icons_block {}
        .page_block {}
        .brain_block {}
      }
    }
  }

  .services__block {
    width: 100%;
    min-height: 1505px;
    background-color: $color_light_blue;
    .services__block_container {
      width: 86%;
      display: flex;
      flex-direction: column;
      align-items: center;
      margin: 0 auto;
      .services__block_main-title {
        padding-top: 115px;
        font: bold 36px/49px $Family;
        letter-spacing: 0.1em;
        color: $color_black;
      }
      .services__block_main-text {
        padding-top: 30px;
        width: 60%;
        font: normal 18px/133% $Family;
        line-height: 24px;
        letter-spacing: 0.1em;
        color: $color_black;
        text-align: center;
      }
      .services__block_content_block {
        margin-top: 110px;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
       .research-block, .portfolio-block, .support-block,
       .documentation-block, .development-block, .design-block {
         width: 27%;
         background: $color_white url("/img/smartphone-black 1.png") center 50px no-repeat;
         min-height: 439px;
         text-align: center;
         padding: 50px 40px ;
         margin: 0 45px 45px 0;
         .block-title {
           font: normal 600 20px/110% $Family;
           line-height: 22px;
           letter-spacing: 0.1em;
           color: $color_black;
           padding-top: 90px;
         }
         .block-text {
           font: normal 15px/167% $Family;
           line-height: 25px;
           letter-spacing: 0.1em;
           color: $color_black;
           padding-top: 20px;
         }
         .block_button {
           width: 160px;
           height: 55px;
           text-align: center;
           border: 2px solid $color_black;
           background: transparent;
           font: normal 600 20px/110% $Family;
           line-height: 22px;
           letter-spacing: 0.1em;
           color: $color_black;
           margin-top: 40px;
         }
       }
        .support-block, .design-block {
          margin-right: 0;
        }
        .research-block:hover, .portfolio-block:hover, .support-block:hover,
        .documentation-block:hover, .development-block:hover, .design-block:hover {
          background: $color_blue_green url("/img/smartphone-white 1.png") center 50px no-repeat;
          box-shadow: 0 10px 20px rgba(0, 0, 0, 0.35);
          .block-title, .block-text {
            color: $color_white;
          }
          .block_button {
            border: 2px solid $color_white;
            color: $color_white;
          }
        }
      }
    .services__block_button {
      width: 220px;
      height: 70px;
      text-align: center;
      background: $color_blue_green;
      font: normal 600 20px/110% $Family;
      line-height: 22px;
      letter-spacing: 0.1em;
      color: $color_white;
      margin-top: 45px;
    }
    }
  }

  .price__block {
    width: 100%;
    min-height: 1142px;
    background-color: $color_light_grey;
    .price__block__container {
      width: 86%;
      display: flex;
      flex-direction: column;
      align-items: center;
      margin: 0 auto;
      .price__block_main-title {
        padding-top: 115px;
        font: bold 36px/49px $Family;
        letter-spacing: 0.1em;
        color: $color_black;
      }
      .price__block_main-text {
        padding-top: 30px;
        width: 60%;
        font: normal 18px/133% $Family;
        line-height: 24px;
        letter-spacing: 0.1em;
        color: $color_black;
        text-align: center;
      }
       .price__block_content_block {
         width: 100%;
         margin-top: 110px;
         display: flex;
         flex-direction: row;
         flex-wrap: wrap;
         justify-content: space-between;
         align-items: center;
       .price__block_trial_block, .price__block_basic_block, .price__block_ultimate_block {
         width: 27%;
         background-color: $color_white;
         min-height: 669px;
         text-align: center;
         .trial_block_head, .basic_block_head, .ultimate_block_head {
           width: 100%;
           min-height: 210px;
           background-color: $color_violet;
           display: flex;
           flex-direction: column;
           /*align-items: center;
           justify-content: center;*/
           .block_head-title {
             font: normal 25px/88% $Family;
             line-height: 22px;
             letter-spacing: 0.1em;
             color: $color_white;
             text-align: center;
             padding-top: 49px;
           }
           .block_head-text {
             color: $color_white;
             font-family: $Family;
             letter-spacing: 0.1em;
             padding-top: 56px;
             /*display: flex;
             flex-direction: row;
             align-items: baseline;
             justify-content: center;*/

             span:nth-child(1) {
               font: normal 25px/88% $Family;
               line-height: 22px;
               vertical-align: top;
             }
             span:nth-child(2) {
               font: normal 50px/44% $Family;
               line-height: 22px;
               margin-left: 4px;

             }
             span:nth-child(3) {
               font: normal 20px/110% $Family;
               line-height: 22px;
               margin-left: 11px;
               vertical-align: bottom;
             }
           }
         }
         .trial_price_list, .basic_price_list, .ultimate_price_list {
           margin: 25px auto 46px;
           width: 49%;
           li {
             font: normal 300 17px/412% $Family;
             line-height: 70px;
             letter-spacing: 0.1em;
             color: $color_black;
             border-bottom: 1px solid $color_border;
           }

         }
         .block_button {
           width: 190px;
           height: 60px;
           border: 2px solid $color_black;
           text-align: center;
           background: transparent;
           font: normal 600 20px/110% $Family;
           line-height: 22px;
           letter-spacing: 0.1em;
           color: $color_black;
         }
       }
         .price__block_trial_block:hover, .price__block_basic_block:hover, .price__block_ultimate_block:hover {
           box-shadow: 0 3px 25px rgba(0, 0, 0, 0.35);
           .block_button {
             background: $color_blue_green;
             color: $color_white;
           }
         }

       }
    }
  }

  .team__block {
    width: 100%;
    min-height: 1135px;
    background-color: $color_white;

    .team__block__container {
      width: 86%;
      display: flex;
      flex-direction: column;
      margin: 0 auto;
      align-items: center;

      .team__block_head {
        text-align: center;
        margin-bottom: 115px;

        .team__block_title {
          padding-top: 115px;
          font: bold 36px/49px $Family;
          letter-spacing: 0.1em;
          color: $color_black;
        }

        .team__block_text {
          margin: 0 auto;
          align-self: center;
          padding-top: 30px;
          width: 60%;
          font: normal 18px/133% $Family;
          line-height: 24px;
          letter-spacing: 0.1em;
          color: $color_black;

        }
      }

      .team__block_content {
        width: 100%;
        display: flex;
        justify-content: space-between;

        .team__block__content_block {
          .man-1-name, .man-2-name, .man-3-name {
            font: normal 600 24px/92% $Family;
            line-height: 22px;
            letter-spacing: 0.1em;
            color: $color_black;
            text-align: center;
            padding-top: 40px;
          }

          .man-1-position, .man-2-position, .man-3-position {
            font: normal 20px/110% $Family;
            line-height: 22px;
            letter-spacing: 0.1em;
            color: $color_black;
            text-align: center;
            padding-top: 15px;
          }

          .media ul {
            align-self: center;


            li {
              display: inline;

              li a {
                width: 50px;
                height: 50px;
                background: $color_light_grey;
                border: 1px solid $color_light_grey;
                border-radius: 10px;
              }

              /* img {
                 width: 50px;
                 height: 50px;
                 background: $color_light_grey;
                 border: 1px solid $color_light_grey;
               }
              }
            /*.fb, .twitter, .chat, .dribble a {
              position: relative;
              width: 50px;
              height: 50px;
              background: $color_light_grey;
              border: 1px solid $color_light_grey;
              border-radius: 10px;

            }*/
            }
          }

        }

        .team__block_button_block {
          margin-top: 115px;

          .next_prev_button {
            width: 20px;
            height: 20px;
            border-radius: 20px;
            background-color: $color_blue_green;
            margin-right: 15px;
          }

          .next_prev_button:hover {
            background-color: $color_violet;
          }
        }
      }
    }
  }

  .blog__block {
      width: 100%;
      min-height: 1960px;
      background-color: $color_light_blue;
      .blog__block__container {
        width: 86%;
        margin: 0 auto;
        .blog__block_title {
          padding-top: 115px;
          font: bold 36px/49px $Family;
          letter-spacing: 0.1em;
          color: $color_black;
          text-align: center;
        }
        .blog__block_text {
          padding-top: 30px;
          width: 60%;
          font: normal 18px/133% $Family;
          line-height: 24px;
          letter-spacing: 0.1em;
          color: $color_black;
          text-align: center;
          margin: 0 auto;
        }
        .blog__block_content {
          width: 100%;
          margin: 115px auto 50px;
          display: flex;
          flex-wrap: nowrap;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          .content_block {   /* Разбить на разные блоки и установить каждому свою высоту?? (средний блок на 10рх ниже) */
            width: 95%;
            display: flex;
            flex-direction: row;
            margin: 0 10%;
            height: 460px;
           /* flex: 2 1 1200px;*/     /* Третья величина - непоняяяяяятно... */

            .content_block_image_block-1 {
              width: 49%;
              margin-left: 30px;
              background: url("/img/image-1 1.png") right bottom no-repeat;
            }
            .content_block_image_block-2 {
              width: 49%;
              margin-right: 30px;
              background: url("/img/image-2 1.png") left top no-repeat;
            }
            .content_block_image_block-3 {
              width: 49%;
              margin-left: 30px;
              background: url("/img/image-3 1.png") right top no-repeat;
             }
            .content_block_text_block {
              width: 51%;
              padding: 70px 0 0 70px;

              .content_block_title {
                a {
                  font: normal 600 30px/73% $Family;
                  line-height: 22px;
                  letter-spacing: 0.1em;
                  color: $color_black;
                }
                a:hover {
                  color: $color_blue_green;
                }
              }
              .content_block_development_time {
                margin: 50px auto;
                display: flex;
                align-content: center;
                align-items: center;
                .content_block_time-block {
                  padding-right: 70px;
                }
                .content_block_time-block, .content_block_doc-block {
                  font: normal 600 18px/122% $Family;
                  line-height: 22px;
                  letter-spacing: 0.1em;
                  color: $color_black;
                }
              }
              .content_text {
                width: 75%;
                font: normal 500 18px/144% $Family;
                line-height: 26px;
                letter-spacing: 0.1em;
                color: $color_black;
              }
            }
          }
          .content_block:nth-child(2) {
            flex-direction: row-reverse;

          }
        }
        .blog__block_button {
          display: block;
          width: 220px;
          height: 70px;
          text-align: center;
          background: $color_blue_green;
          font: normal 600 20px/110% $Family;
          line-height: 22px;
          letter-spacing: 0.1em;
          color: $color_white;
          margin: 0 auto;
        }
      }
    }

  .contact__block {
    width: 100%;
    min-height: 1327px;
    background-color: $color_black;
    .contact__block__container {
      width: 86%;
      margin: 0 auto;
      .contact__block_title {
        padding-top: 115px;
        font: bold 36px/49px $Family;
        letter-spacing: 0.1em;
        color: $color_white;
        margin: 0 auto;
        text-align: center;
      }
      .contact__block_text {
        margin: 0 auto;
        align-self: center;
        padding-top: 30px;
        width: 60%;
        font: normal 18px/133% $Family;
        line-height: 24px;
        letter-spacing: 0.1em;
        color: $color_white;
        text-align: center;
      }
       .contact__block__group_block {
         margin: 115px auto;
         width: 86%;
         display: flex;
         justify-content: space-between;
         align-items: center;
         .contact__block__address_block, .contact__block__phone_block, .contact__block__email_block {
         .marker {
           display: block;
           width: 110px;
            height: 110px;
            border-radius: 110px;
            background-color: $color_violet;
            margin: 0 auto;
           align-content: center;
             img {
               display: block;
               margin: 0 auto;
               padding-top: 26px;
             }
           /*  img:nth-child(1) {
               left:26px;
             }
             .marker:nth-of-type(1) {
               img {
                 margin-top: 26px;
                 margin-left: 26px;
               }
             }*/
}
         .address_text, .phone_text, .email_text {
           margin: 0 auto;
           align-self: center;
           padding-top: 30px;
           font: normal 600 22px/136% $Family;
           line-height: 30px;
           letter-spacing: 0.1em;
           color: $color_white;
           text-align: center;
         }
         }
       }
    .contact__block__input_block {
      width: 86%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin: 0 auto;
      .contact_form {
        input {
          width: 570px;
          height: 100px;
          font: normal 600 20px/148% $Family;
          line-height: 28px;
          letter-spacing: 0.1em;
          color: $color_black;
          padding-left: 30px;
          border-radius: 20px;
          margin-bottom: 40px;
        }
      }
      .message_form {
        /*input {
          width: 570px;
          height: 380px;
          font: normal 600 20px/148% $Family;
          line-height: 28px;
          letter-spacing: 0.1em;
          color: $color_black;
          padding-left: 30px;
          border-radius: 20px;
          margin-bottom: 40px;
          text-align: start;
        }*/
        textarea {
          width: 570px;
          height: 380px;
          font: normal 600 20px/148% $Family;
          line-height: 28px;
          letter-spacing: 0.1em;
          color: $color_black;
          padding: 36px 0 0 30px;
          border-radius: 20px;
          margin-bottom: 40px;
          text-align: start;
        }
      }
    }
      .contact__block__button {
        display: block;
        width: 400px;
        height: 100px;
        text-align: center;
        background: $color_violet;
        font: normal 600 26px/108% $Family;
        line-height: 28px;
        letter-spacing: 0.1em;
        color: $color_white;
        text-transform: uppercase;
        border-radius: 20px;
        margin: 0 auto;
      }
    }
  }

  .footer {
    width: 100%;
    min-height: 190px;
    background-color: $color_white;
    .footer__container {
      width: 86%;
      margin: 86px auto 0;
      display: flex;
      align-items: center;
      justify-content: space-between;
      .footer_menu {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        text-align: center;
        font: normal 20px/110% $Family;
        line-height: 22px;
        color: $color_black;
        letter-spacing: 0.1em;
        li {
          margin-right: 40px;
        }
        a{
          color: $color_black;
        }
      }
      .footer_side_block {
       display: flex;
       flex-direction: column;
        .footer_text {
          font: normal 18px/156% $Family;
          line-height: 28px;
          color: $color_black;
          letter-spacing: 0.0025em;
          text-transform: uppercase;
        }
        .footer__social__network_list {
          margin-top: 8px;
          align-self: flex-end;
          li {
            display: inline;
          }
          }
      }
    }
  }

  }



